:root{
    --dark:rgb(53, 53, 53);
    --gray:rgb(138, 138, 138);
    --lighter:rgb(170, 170, 170);
}

.elements{
    margin: 0 10%;
}
.elements p{
    line-height: 30px;
}
.elements .ele-sct-1 .titre{
    margin-top: 13vh;
    text-align: center;
}
.elements .ele-sct-1 h1{
    color:var(--dark);
    font-weight: 300;
    letter-spacing: 4px;
}
.elements .ele-sct-1 p{
    color: var(--lighter);
}
.elements .ele-sct-2 h3{
    color:var(--dark);
    font-weight: 300;
    letter-spacing: 4px;
}
.elements .ele-sct-2 p{
    color: var(--lighter);
}

.elements .ele-sct-2 h3{
    margin: 20px 0;
}

.elements .ele-sct-3{
    flex-direction: row;
}

.elements .ele-sct-3 p{
    color: var(--lighter);
}

.elements .ele-sct-3 b, .elements .ele-sct-3 strong {
    color:var(--dark);
}


.ele-sct-3 button{
    color: #6CC091;
    outline: none;
    border:  solid #6CC091 3px;
    border-radius: 50px;
    padding: 0.5rem 3rem;
    background-color: white;
    margin-right: 40px;
    margin-bottom: 40px;
    border: solid 4px #6CC091;
    box-sizing: border-box;
    font-weight: lighter;



}
.ele-sct-3 button:hover{
    color: #6CC091;
    outline: none;
    border:  solid #6CC091 4px;
    border-radius: 50px;
    padding: 0.5rem 3rem;
    background-color: #6cc09033;

}

#spe{
    color: white;
    background-color: #6CC091 ;
    transition: all 0.5s;
}
#spe:hover{
    color: white;
    background-color: #99ccaf ;
    border: solid 4px #6CC091;
}

#big{
    height: 70px;
    width: 200px;
    color: white;
    background-color: #6CC091 ;
    transition: all 0.5s;
}
#big:hover{
    color: white;
    background-color: #99ccaf ;
    border: solid 4px #6CC091;

}


.ele-sct-3 input, select{
    border:rgba(255, 255, 255, 0.274) solid 2px;
    border-radius: 10px;
    background-color:#6CC091 ;
    padding: .5rem 0;
    color: white;
    padding-left:20px;
    box-sizing: border-box;
    width: 100%;

}
.ele-sct-3 input:focus{
    outline: none;
    text-decoration: none;
    border:#57b680 solid 2px;

}

.ele-sct-3 input::placeholder, .footer textarea::placeholder{
    color: rgba(255, 255, 255, 0.274);
    /* padding-left: 5%; */
}
select{
    outline: none;
}
.ele-sct-3 .radio{
    /* scale: 4; */
    /* transform: scale(3); */
    height: 40px;
    border: 1px solid #6CC091 !important ;
    outline: none;

}





